{% load i18n static %}

{% block headtag %}
	{% include "parents/head.html" %}
{% endblock %}

{% block header %}
	{% include "parents/header-section.html" %}
{% endblock %}

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../static/img/heading-pages-06.jpg);">
	<h2 class="l-text2 t-center">
		درباره
	</h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
	<div class="container">
		<div class="row">
			<div class="col-md-4 p-b-30">
				<div class="hov-img-zoom">
					<img src="../static/img/banner-14.jpg" alt="IMG-ABOUT">
				</div>
			</div>

			<div class="col-md-8 p-b-30">
				<h3 class="m-text26 p-t-15 p-b-16">
					برند ما
				</h3>

				<p class="p-b-28">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
				</p>
				<div class="bo13 p-l-29 m-l-9 p-b-10">
					<p class="p-b-11">
						خلاقیت فقط اتصال چیزهاست. وقتی از افراد خلاق می پرسید که چگونه کاری را انجام داده اند ، کمی احساس گناه می کنند زیرا واقعاً این کار را نکرده اند ، آنها فقط چیزی را دیده اند. بعد از مدتی برای آنها واضح به نظر می رسید.	
					</p>
					<span class="s-text7">
						- Steve Job’s
					</span>
				</div>
			</div>
		</div>
	</div>
</section>

{% block footer %}
	{% include "parents/footer.html" %}
{% endblock %}

</body>
</html>
