{% load i18n static %}
{% load filters %}

{% block headtag %}
	{% include "parents/head.html" %}
{% endblock %}

	<title>Contact us</title>
</head>

{% block header %}
	{% include "parents/header-section.html" %}
{% endblock %}

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../static/img/call_us_banner.jpg);">
	<h2 class="l-text2 t-center">
		تماس با ما
	</h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-b-30">
				<div class="p-r-20 p-r-0-lg">
					<div class="contact-map size21" id="google_map" data-map-x="30.293272" data-map-y="57.032741" data-pin="../static/img/icons/icon-position-map2.png" data-scrollwhell="0" data-draggable="1"></div>
				</div>
			</div>

			<div class="col-md-6 p-b-30">
				<form class="leave-comment">
					<h4 class="m-text26 p-b-36 p-t-15">
						با ما در رابطه باشید
					</h4>

					<div class="bo4 of-hidden size15 m-b-20">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="نام">
					</div> 

					<div class="bo4 of-hidden size15 m-b-20">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="نام خانوادگی">
					</div>

					<div class="bo4 of-hidden size15 m-b-20">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="شماره تلفن">
					</div>

					<div class="bo4 of-hidden size15 m-b-20">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="ایمیل">
					</div>

					<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="متن پیام"></textarea>

					<div class="w-size25">
						<!-- Button -->
						<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
							ارسال
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


{% block footer %}
	{% include "parents/footer.html" %}
{% endblock %}



<script type="text/javascript">
	$(".selection-1").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});

	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect2')
	});
</script>

</body>
</html>
