	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					در تماس باشید
				</h4>

				<div>
					<p class="s-text7 w-size27">
						هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
					</p>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					دسته بندی
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							مانیتور
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							موس
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							کول پد
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							کیبورد
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							جست و جو
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							در باره ما
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							تماس با ما
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							بازگشت
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					کمک
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Track Order
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQs
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							اشتراک گذاری
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<div class="t-center s-text8 p-t-20">
				استفاده از مطالب فروشگاه اینترنتی لیون فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین لیون) می‌باشد.			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>


    <!--===============================================================================================-->
	<script type="text/javascript" src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="../static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="../static/vendor/bootstrap/js/popper.js"></script>
        <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="../static/vendor/slick/slick.min.js"></script>
        <script type="text/javascript" src="../static/js/slick-custom.js"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="../static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="../static/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
        <script type="text/javascript" src="../static/vendor/sweetalert/sweetalert.min.js"></script>
    <!--===============================================================================================-->
		<script src="../static/js/main.js"></script>
	<!--===============================================================================================-->
		<script type="text/javascript" src="../static/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->