{% load i18n static %}
{% load filters %}

{% block headtag %}
	{% include "parents/head.html" %}
{% endblock %}

	<title>Card</title>
</head>

{% block header %}
	{% include "parents/header-section.html" %}
{% endblock %}

	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../static/img/pay.jpg);">
		<h2 class="l-text2 t-center">
			پرداخت
		</h2>
	</section>

	<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table-shopping-cart">
						<tr class="table-head">
							<th class="column-1"></th>
							<th class="column-2">محصولات سفارش </th>
							<th class="column-3">قیمت</th>
							<th class="column-4 p-l-70">تعداد</th>
							<th class="column-5">قیمت کل</th>
						</tr>
						{% for item in ThisFactor.FK_FactorPost.all %}
							<tr class="table-row">
								<td class="column-1">
									<div class="cart-img-product b-rad-4 o-f-hidden">
										<img src="{{item.FK_Product.top_image}}" alt="IMG-PRODUCT">
									</div>
								</td>
								<td class="column-2">{{item.FK_Product.title}}</td>
								<td class="column-3">{{item.FK_Product.price|currency}} تومان</td>
								<td class="column-4">
									<div class="flex-w bo5 of-hidden w-size17">
										<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
											<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
										</button>

										<input class="size8 m-text18 t-center num-product" type="number" name="num-product1" value="{{item.ProductCount}}">

										<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
											<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
										</button>
									</div>
								</td>
								<td class="column-5">{{item.Endprice|currency}} تومان</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		
	</section>
	<div class="container" style="direction: rtl;">
		<form>
			{% csrf_token %}
			<div class="form-row p-t-70 p-b-100">
				<div class="form-group col-md-4">
					<label for="input_state">استان</label>
					<input type="text" class="form-control" id="input_state" placeholder="استان">
				</div>
				<div class="form-group col-md-4">
					<label for="input_city">شهر</label>
					<input type="text" class="form-control" id="input_city" placeholder="شهر">
				</div>
				<div class="form-group col-md-4">
					<label for="input_bigcity">شهرستان</label>
					<input type="text" class="form-control" id="input_bigcity" placeholder="شهرستان">
				</div>
				<div class="form-group col-md-6">
					<label for="input_phone">شماره همراه</label>
					<input type="text" class="form-control" id="input_phone" placeholder="شماره موبایل">
				</div>
				<div class="form-group col-md-6">
					<label for="input_zip">کد پستی</label>
					<input type="text" class="form-control" id="input_zip" placeholder="کدپستی">
				</div>
				<div class="form-group col-md-6">
					<label for="input_address">آدرس</label>
					<input type="text" class="form-control" id="input_address" placeholder="آدرس">
				</div>
			</div>

			<div class="size15 trans-0-4">
				<!-- Button -->
				<button class="flex-c-m size10 bg4 bo-rad-23 hov1 m-text3 trans-0-4" type="submit" id="send-form">
					پرداخت
				</button>
			</div>
		</form>
	</div>
	<br><br>

	<!-- Footer -->
{% block footer %}
	{% include "parents/footer.html" %}
{% endblock %}

<!-- Ajax -->
<script text="javascripts">
	$("#send-form").on("click", function (e) {
		var  this_phone = $('#input_phone').val();
		var  this_address = $('#input_address').val();
		var  this_zip = $('#input_zip').val();
		var  this_state = $('#input_state').val();
		var  this_bigcity = $('#input_bigcity').val();
		var  this_city = $('#input_city').val();
		if ((this_phone != '') && (this_address != '') && (this_zip != '') && (this_state != '') && (this_bigcity != '') && (this_city != '')){
			$.ajax(
				{
					type: 'POST',
					url: '{% url "shop:ajax_update_factor" %}',
					data: {
						this_phone: this_phone,
						this_address: this_address,
						this_zip: this_zip,
						this_state: this_state,
						this_city: this_city,
						this_bigcity: this_bigcity,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function (json, status, xhr) {
						if (xhr.status == 200) {
							alert('پرداخت شما با موفقیت انجام شد.');
						}
					},
					error: function (xhr) {
						alert('خطایی رخ داده است.');
						console.log(xhr.status + ": " + xhr.responseText);
					}
				}
			);  
		}else{
			alert('پر کردن همه فیلد ها اجباری می باشد.');
		}
	})
</script>

<!--===============================================================================================-->
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>
<!--===============================================================================================-->

</body>
</html>
