{% load i18n static %}
{% load filters %}

{% block headtag %}
	{% include "parents/head.html" %}
{% endblock %}

	<title>Contact us</title>
</head>

{% block header %}
	{% include "parents/header-section.html" %}
{% endblock %}

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../static/img/call_us_banner.jpg);">
	<h2 class="l-text2 t-center">تماس با ما</h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-60">
	<div class="container" style="max-width: 1300px;">
		<div class="row">
			<div class="col-md-6 p-b-30" style="align-self: flex-end;margin-bottom: 10px;">
				<div class="p-r-20 p-r-0-lg">
					<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d215.33441239019618!2d57.0543626!3d30.2840792!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1606377204263!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>

			<div class="col-md-6 p-b-30">
				<form class="leave-comment" style="direction: rtl;">
					{% csrf_token %}
					<h4 class="m-text26 p-b-36 p-t-15" style="float: right;">برای ارتباط با ما لطفا فرم های زیر را پر کنید.</h4>
					{% if not request.user.is_authenticated %}
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="fullname" placeholder="نام و نام خانوادگی" id="input_fullname">
						</div>
					{% endif %}
					<div class="bo4 of-hidden size15 m-b-20">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" value="{{request.user.mobile}}" placeholder="شماره تلفن" id="input_mobile">
					</div>

					<div class="bo4 of-hidden size15 m-b-20">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" value="{{request.user.email}}" placeholder="ایمیل" id="input_email">
					</div>

					<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="متن پیام" id="input_message"></textarea>

					<div class="w-size25" id="send-form">
						<!-- Button -->
						<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="button">ارسال</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% block footer %}
	{% include "parents/footer.html" %}
{% endblock %}
<!-- JS -->
<script type="text/javascript" src="{% static "js/controller/contact.js"%}"></script>
<!-- Ajax -->
<script text="javascripts">
	$("#send-form").on("click", function (e) {
		var  thisuser_status = '{{request.user.is_authenticated|safe}}';
		var  thisuser_fullname;
		if (thisuser_status == 'True'){
			thisuser_fullname = '{{request.user.get_fullname|safe}}';
		}else{
			thisuser_fullname = $('#input_fullname').val();
		}
		var  thisuser_mobile = $('#input_mobile').val();
		var  thisuser_email = $('#input_email').val();
		var  thisuser_message = $('#input_message').val();
		if (check_fields(thisuser_fullname, thisuser_email, thisuser_mobile, thisuser_message)){
			$.ajax(
				{
					type: 'POST',
					url: '{% url "shop:create_new_connectus_api" %}',
					data: {
						this_fullname: thisuser_fullname,
						this_mobile: thisuser_mobile,
						this_email: thisuser_email,
						this_message: thisuser_message,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function (json, status, xhr) {
						if (xhr.status == 201) {
							alert('پیام شما ثبت شد.');
						}
						else {
							console.log(json.message);
							$('errorbox-txt').text();
							$('.errorbox').show();
						}
					},
					error: function (xhr) {
						console.log(xhr.status + ": " + xhr.responseText);
					}
				}
			);  
		}else{
			alert('خطایی رخ داده است.');
		}    
	})
</script>


<script type="text/javascript">
	$(".selection-1").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});

	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect2')
	});
</script>

</body>
</html>
